:root {
  --primary-color: #fff;
  --button-color: #30189e;
  --orange-color: #e44d26;
  --lightOrange-color: #f64c22;
  --dark-blue: #212738;
  /* --lightOrange-color: #ff6943; */
}

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* Background Gradient */
body {
  background: #e44d26; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f16529,
    #e44d26
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f16529,
    #e44d26
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Utilities */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}
.container {
  width: 100%;
  padding: 0 2em;
}
.btn {
  display: grid;
  place-items: center;
  background-color: var(--button-color);
  border-radius: 5px;
  height: 50px;
  width: 150px;
}

/* Header - Navigation & Logo */
header {
  margin-top: 1em;
}
.container-header {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.navbar {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  font-size: 1.3em;
  /* text-shadow: 2px 2px 4px #000000; */
}
.navbar a:hover {
  border-bottom: #fff 1px solid;
}

/* Main Section */
.main-container {
  display: grid;
  color: var(--primary-color);
  margin-bottom: 2em;
}
.main-container h1 {
  font-size: 2.6em;
  margin-top: 1.2em;
  margin-bottom: 0.3em;
  text-shadow: 2px 2px 4px #000000;
}
.main-container p {
  font-size: 1.1em;
  text-shadow: 1px 1px 2px #000000;
  margin-bottom: 1.3em;
}

.main-container .btn {
  font-size: 1.1em;
  /* height: 50px;
  width: 150px; */
  transition: all 0.2s ease-in-out;
}
.main-container .btn:hover {
  transform: scale(1.1);
}

.main-container .main-icon {
  display: none;
}

/* Services Section */
.container-services {
  background-color: #fff;
  height: auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.title {
  border-bottom: 1px solid var(--lightOrange-color);
  margin-bottom: 2em;
  text-align: center;
}
.container-services .title h1 {
  color: var(--lightOrange-color);
  margin-bottom: 0.3em;
}
.container-cards {
  display: grid;
  gap: 2em;
}
.card {
  background-color: var(--lightOrange-color);
  min-height: 210px;
  padding: 1.5em 1.4em;
  border-radius: 5px;
  color: var(--primary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.card i {
  font-size: 2.5em;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5em;
}
.card h3 {
  text-align: center;
}

/* Form Section */
.container-form {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.container-form .title {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
.hidden {
  visibility: hidden;
  height: 0;
}
.form {
  background-color: var(--primary-color);
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.form-control {
  margin: 20px 0;
}
.form-control input[type="text"],
.form-control input[type="email"] {
  border: 0;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 3px;
  font-size: 1em;
}
.form-control input:focus {
  outline: none;
}
.form .btn {
  color: var(--primary-color);
  border: 0;
  transition: all 0.2s ease-in-out;
  font-size: 1em;
}
.form .btn:hover {
  transform: scale(1.1);
}
.icon-holder img {
  width: 100%;
}

/* Footer Section */
.footer {
  background-color: var(--dark-blue);
  color: var(--primary-color);
  text-align: center;
  padding: 1em 0;
}
.footer h1 {
  font-size: 1.2em;
}
.footer p {
  font-size: 0.8em;
}

/* TABLET VIEW */
@media (min-width: 760px) {
  /* Header Tablet */
  .container-header {
    flex-direction: row;
    gap: 10em;
  }
  .container-header .logo {
    flex: 1;
  }
  .container-header .header-menu {
    flex: 2;
    justify-content: flex-end;
  }

  /* Main Tablet */
  .main-container {
    grid-template-columns: 2fr 1fr;
    gap: 3em;
  }
  .main-container .main-icon {
    display: block;
  }
  .main-icon img {
    width: 100%;
  }

  /* Services Tablet */
  .container-services {
    padding-bottom: 2.5em;
  }
  .container-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .container-cards .card:nth-child(7) {
    display: none;
  }

  /* Form Tablet */
  .container-form {
    padding-bottom: 2.5em;
  }
  .wrapper-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
  }
}

/* Laptop View */
@media (min-width: 1024px) {
  /* Logo & Navigation Laptop*/
  .container-header {
    gap: 20em;
  }
  .container-header .logo {
    display: flex;
    justify-self: flex-start;
    flex: 1;
  }
  .header-menu {
    flex: 1;
  }

  /* Main  Laptop*/
  .main-container h1 {
    font-size: 4em;
    margin-top: 1.8em;
  }
  .main-container p {
    font-size: 2em;
  }
  .main-container .btn {
    font-size: 1.6em;
    width: 180px;
    height: 50px;
  }
  .main-icon img {
    width: 95%;
  }

  /* Services Laptop */
  .container-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .container-cards .card:nth-child(7) {
    display: block;
  }

  /* Form Laptop */
  .container-form .title {
    margin-bottom: 0;
  }
  .wrapper-form {
    gap: 3em;
    grid-template-columns: 1.2fr 1fr;
  }
  .form {
    height: 450px;
    align-self: center;
  }
  .form-control {
    margin: 3.5em 0;
  }
  .form-control input[type="text"],
  .form-control input[type="email"] {
    font-size: 1.3em;
  }
  .icon-holder {
    display: flex;
    justify-content: flex-end;
  }
  .icon-holder img {
    width: 90%;
  }
}

/* Big Screen View */
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding-top: 1em;
    padding-right: 15em;
    padding-left: 15em;
  }
  .container-header {
    gap: 30em;
  }
  .title h1 {
    font-size: 3em;
  }
}
